<div class="container">
    <div class="image-container">
        <p class="text">This page does NOT exist!</p>
        <img class="image-error" style="width:550px; position:initial " src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.GBKa6se0O8D3prcMcLChdAHaFj%26pid%3DApi&f=1&ipt=c73575b07317602c8e1bf2bd2393dfd5e02055fcc335955cb5bd58e01beca4cf&ipo=images" alt="centered image">
      
    </div>
</div>

<style>


    .image-container {
        background-color: darkgray;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 30px;
        padding-bottom:30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .text {
        font-size: 40px;
        text-align: center;
    }

    .back-link {
        font-size: 40px;
        text-align: center;
    }

</style>