@model IEnumerable<ExerciseIndexServiceModel>

@{
    ViewData["Title"] = "Home Page";
    var exercises = Model.ToList();
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Welcome to ExeGuide!</h2>
    <p class="lead mb-1 mt-3">
        Here you can find various exercises and how to perform them!
    </p>
    <p>
        Register to our page to save your favourite exercises to your account!
    </p>
</div>
