@model ExerciseDetailsServiceModel

@{
    ViewBag.Title = "Delete Exercise";
}

<h2 class="text-center" style="color:white">@ViewBag.Title</h2>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" style="color:white" src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Name" style="color:white" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <form class="input-group-sm"
                      style="margin-top: 10px"
                      asp-controller="Exercise"
                      asp-action="Favourites" asp-route-id="@Model.Id">
                    <input class="btn btn-primary" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </div>
</form>
