@model ExerciseFormModel
@{
    ViewBag.Title = "Edit Exercise";
}

<h2 class="text-center" style="color:white">@ViewBag.Title</h2>
<hr />
<div style="color:white">

<partial name="_ExerciseFormPartial" model="@Model" />
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}